<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/src/output.css" rel="stylesheet">
    <title>Narsun Clone - tailwind</title>
</head>

<body>
    <nav
        class="h-14 bg-black flex justify-between  rounded-full mt-5 md:mx-20 header drop-shadow-[0_10px_10px_rgba(0,0,0,0.7)] z-[2] fixed w-[90%]">
        <div>
            <button class="pl-2 pt-1 hover:opacity-70 active:opacity-50"><img class="w-40 rounded-full"
                    src="/resource/icons/narsun1_logo.png"></button>
        </div>
        <ul class="lg:flex  hidden">
            <button class="text-gray-400 mx-2 hover:opacity-70 active:opacity-50">Experties v</button>
            <button class="text-gray-400 mx-2 hover:opacity-70 active:opacity-50">Portfolio</button>
            <button class="text-gray-400 mx-2 hover:opacity-70 active:opacity-50">Product</button>
            <button class="text-gray-400 mx-2 hover:opacity-70 active:opacity-50">learn</button>
            <button class="text-gray-400 mx-2 hover:opacity-70 active:opacity-50">PitchDesk v</button>
            <button class="text-gray-400 mx-2 hover:opacity-70 active:opacity-50">Company</button>
        </ul>
        <Button class="lg:flex hidden hover:opacity-70 active:opacity-50 ">
            <p class="text-white mr-2 pt-3 ">Hire Us</p>
            <img class="w-10 pt-2 pr-2" src="/resource/icons/Send-icon.svg">
        </Button>
        <div class="lg:hidden">
            <button class="text-4xl text-gray-300 pr-3">&#8801</button>
        </div>
    </nav>
    <div class="flex items-center justify-center">
        <img class="w-full" src="/resource/images/home.png">
        <div class="absolute text-center text-white text-4xl md:text-5xl lg:text-6xl xl:text-7xl">PitchDesk</div>
    </div>
    <div class="bg-blue-50 py-20 md:px-32 pl-12">
        <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2">
            <div class="w-72 inline my-5">
                <img class="rounded-xl object-cover w-72 h-40" src="/resource/images/Basketball.png">
                <p class="text-2xl font-semibold mt-5">Sports</p>
                <p class="text-gray-500 mt-4">Play, Predict, Profit: The Winning Metaverse & Web3's Winning formula for
                    sports
                    Fans</p>
                <div class="mt-4 flex flex-row">
                    <p class="inline pr-2 ">Download Pdf</p>
                    <button class="drop-shadow-[5px_5px_10px_rgba(0,0,0,0.7)] hover:opacity-70 active:opacity-50">
                        <img class="w-7" src="/resource/icons/Download.svg">
                    </button>
                </div>
            </div>
            <div class="w-72 inline my-5">
                <img class="rounded-xl object-cover w-72 h-40" src="/resource/images/tourism.png">
                <p class="text-2xl font-semibold mt-5">Tourism</p>
                <p class="text-gray-500 mt-4">Travel to infinity and Beyond: Metaverse Tourism-Where Imagination Meets
                    Reality</p>
                <div class="mt-4 flex flex-row">
                    <p class="inline pr-2">Download Pdf</p>
                    <button class="drop-shadow-[5px_5px_10px_rgba(0,0,0,0.7)] hover:opacity-70 active:opacity-50">
                        <img class="w-5" src="/resource/icons/Download.svg">
                    </button>
                </div>
            </div>
            <div class="w-72 inline my-5">
                <img class="rounded-xl object-cover w-72 h-40" src="/resource/images/staff-augmentation.jpeg">
                <p class="text-2xl font-semibold mt-5">staff-augmentation</p>
                <p class="text-gray-500 mt-4">Stop Overstaffing, Start Optimizing: Achieve Operational Excellence wi...
                </p>
                <div class="mt-4 flex flex-row">
                    <p class="inline pr-2">Download Pdf</p>
                    <button class="drop-shadow-[5px_5px_10px_rgba(0,0,0,0.7)] hover:opacity-70 active:opacity-50">
                        <img class="w-7" src="/resource/icons/Download.svg">
                    </button>
                </div>
            </div>
            <div class="w-72 inline my-5">
                <img class="rounded-xl object-cover w-72 h-40" src="/resource/images/virtual-reality.jpeg">
                <p class="text-2xl font-semibold mt-5">virtual-reality</p>
                <p class="text-gray-500 mt-4">Invest in the Future: Be a Leader in the Virtual Reality Revolution</p>
                <div class="mt-4 flex flex-row">
                    <p class="inline pr-2">Download Pdf</p>
                    <button class="drop-shadow-[5px_5px_10px_rgba(0,0,0,0.7)] hover:opacity-70 active:opacity-50">
                        <img class="w-7" src="/resource/icons/Download.svg">
                    </button>
                </div>
            </div>
            <div class="w-72 inline my-5">
                <img class="rounded-xl object-cover w-72 h-40" src="/resource/images/Education.png">
                <p class="text-2xl font-semibold mt-5"></p>
                <p class="text-gray-500 mt-4">Say Goodbye to Boredom VE makes Flucation on Adventure win interactive
                    tasks</p>
                <div class="mt-4 flex flex-row">
                    <p class="inline pr-2">Download Pdf</p>
                    <button class="drop-shadow-[5px_5px_10px_rgba(0,0,0,0.7)] hover:opacity-70 active:opacity-50">
                        <img class="w-7" src="/resource/icons/Download.svg">
                    </button>
                </div>
            </div>
            <div class="w-72 inline my-5">
                <img class="rounded-xl object-cover w-72 h-40" src="/resource/images/Banking.jpeg">
                <p class="text-2xl font-semibold mt-5">Banking</p>
                <p class="text-gray-500 mt-4">Reduce Costs, Increase Erficianay, Reshaping Bariking fantha Digital Age
                </p>
                <div class="mt-4 flex flex-row">
                    <p class="inline pr-2">Download Pdf</p>
                    <button class="drop-shadow-[5px_5px_10px_rgba(0,0,0,0.7)] hover:opacity-70 active:opacity-50">
                        <img class="w-7" src="/resource/icons/Download.svg">
                    </button>
                </div>
            </div>
            <div class="w-72 inline my-5">
                <img class="rounded-xl object-cover w-72 h-40" src="/resource/images/Entertainment.png">
                <p class="text-2xl font-semibold mt-5">Entertainment</p>
                <p class="text-gray-500 mt-4">Slash Marketing Budgets, Ignite Fan Engagement: Metaverse Strategies
                    Deliver
                    Results</p>
                <div class="mt-4 flex flex-row">
                    <p class="inline pr-2">Download Pdf</p>
                    <button class="drop-shadow-[5px_5px_10px_rgba(0,0,0,0.7)] hover:opacity-70 active:opacity-50">
                        <img class="w-7" src="/resource/icons/Download.svg">
                    </button>
                </div>
            </div>
            <div class="w-72 inline my-5">
                <img class="rounded-xl object-cover w-72 h-40" src="/resource/images/blockchain.png">
                <p class="text-2xl font-semibold mt-5">Blockchain</p>
                <p class="text-gray-500 mt-4">Forget Middlemen, Own Your Assets: Blockchain Empowers Businesses and...
                </p>
                <div class="mt-4 flex flex-row">
                    <p class="inline pr-2">Download Pdf</p>
                    <button class="drop-shadow-[5px_5px_10px_rgba(0,0,0,0.7)] hover:opacity-70 active:opacity-50">
                        <img class="w-7" src="/resource/icons/Download.svg">
                    </button>
                </div>
            </div>
            <div class="w-72 inline my-5">
                <img class="rounded-xl object-cover w-72 h-40" src="/resource/images/Military.png">
                <p class="text-2xl font-semibold mt-5">Military</p>
                <p class="text-gray-500 mt-4">Train Like You Fight: Virtual Training Grounds for a Future- Proof
                    Military</p>
                <div class="mt-4 flex flex-row">
                    <p class="inline pr-2">Download Pdf</p>
                    <button class="drop-shadow-[5px_5px_10px_rgba(0,0,0,0.7)] hover:opacity-70 active:opacity-50">
                        <img class="w-7" src="/resource/icons/Download.svg">
                    </button>
                </div>
            </div>
            <div class="w-72 inline my-5">
                <img class="rounded-xl object-cover w-72 h-40" src="/resource/images/RealEstate.png">
                <p class="text-2xl font-semibold mt-5">Real Estate</p>
                <p class="text-gray-500 mt-4">Sell Faster, Smarter, Cheaper: VR Property Tours Reduce Listing Costs and
                    Time</p>
                <div class="mt-4 flex flex-row">
                    <p class="inline pr-2">Download Pdf</p>
                    <button class="drop-shadow-[5px_5px_10px_rgba(0,0,0,0.7)] hover:opacity-70 active:opacity-50">
                        <img class="w-7" src="/resource/icons/Download.svg">
                    </button>
                </div>
            </div>
            <div class="w-72 inline my-5">
                <img class="rounded-xl object-cover w-72 h-40" src="/resource/images/Activation.png">
                <p class="text-2xl font-semibold mt-5">Activations</p>
                <p class="text-gray-500 mt-4">No More Fleeting Impressions, Create Lasting Connections: Captivating
                    AR...</p>
                <div class="mt-4 flex flex-row">
                    <p class="inline pr-2">Download Pdf</p>
                    <button class="drop-shadow-[5px_5px_10px_rgba(0,0,0,0.7)] hover:opacity-70 active:opacity-50">
                        <img class="w-7" src="/resource/icons/Download.svg">
                    </button>
                </div>
            </div>
            <div class="w-72 inline my-5">
                <img class="rounded-xl object-cover w-72 h-40" src="/resource/images/Fashion.jpeg">
                <p class="text-2xl font-semibold mt-5">Fashion</p>
                <p class="text-gray-500 mt-4">Fashion Week is So 2023: Immerse Your Audience in the Metaverse - build
                    bran...</p>
                <div class="mt-4 flex flex-row">
                    <p class="inline pr-2">Download Pdf</p>
                    <button class="drop-shadow-[5px_5px_10px_rgba(0,0,0,0.7)] hover:opacity-70 active:opacity-50">
                        <img class="w-7" src="/resource/icons/Download.svg">
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="bg-gray-200 flex-row ">
        <div class=" md:mx-32 ml-12 md:py-20">
            <p class=" lg:text-6xl md:text-4xl text-3xl ">Have An Idea?</p>
            <p class=" lg:text-6xl md:text-4xl text-3xl inline">Lets Build And Scale It</p>
            <button class="hover:opacity-70 active:opacity-50 "><img class="lg:w-20 md:w-12 w-10"
                    src="/resource/icons/Arrow.svg"></button>
        </div>

    </div>
    <div class="bg-black rounded-t-3xl">
        <div class="md:mx-32 ml-12 py-20 grid lg:grid-cols-4 md:grid-cols-2">

            <div class="">
                <div class="flex items-center ">
                    <img src="/resource/icons/America.png">
                    <div class="text-white pl-2">USA</div>
                </div>
                <div class="text-gray-300 w-52">1049 El Monte Avenue, Ste C #715, Mountain View, CA.</div>
            </div>

            <div class="">
                <div class=" flex items-center">
                    <img class="w-12 " src="/resource/icons/SaudiaArabia.png">
                    <div class="text-white pl-2">KSA</div>
                </div>
                <div class="text-gray-300 w-52">Kingdom of Saudi Arabia</div>
            </div>

            <div class="">
                <div class="flex items-center">
                    <img src="/resource/icons/UAE.png">
                    <div class="text-white pl-2">UAE</div>
                </div>
                <div class="text-gray-300 w-52">301, Vision Tower, Dubai</div>
            </div>

            <div class="">
                <div class="flex items-center">
                    <img src="/resource/icons/Pakistan.png">
                    <div class="text-white pl-2">Pakistan</div>
                </div>
                <div class="text-gray-300 w-52">44, Block R 1 Phase 2 Johar Town, Lahore</div>
            </div>
        </div>
        <div class="border-b-2 border-white mx-32"></div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 md:mx-32 ml-12 py-20">
            <!-- First column -->
            <div class="col-span-1 md:col-span-1">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                    <!-- First sub-column -->
                    <div class="col-span-1 md:col-span-1">
                        <div class="">
                            <p class="text-gray-200 font-bold pb-5">Experties</p>
                            <p class="text-gray-300">Metaverse</p>
                            <p class="text-gray-300">Digital Twins</p>
                            <p class="text-gray-300">Blockchain Development</p>
                            <p class="text-gray-300">Game Development</p>
                            <p class="text-gray-300">Artificial Intelligence</p>
                            <p class="text-gray-300">Game Art</p>
                            <p class="text-gray-300">AR/VR</p>
                        </div>
                    </div>
                    <!-- Second sub-column -->
                    <div class="col-span-1 md:col-span-1">
                        <div class="">
                            <p class="text-gray-200 font-bold pb-5">Portfolio</p>
                            <p class="text-gray-300">Projects</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- Second column -->
            <div class="col-span-1 md:col-span-1">
                <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                    <!-- First sub-column -->
                    <div class="col-span-1 md:col-span-1">
                        <div class="">
                            <p class="text-gray-200 font-bold pb-5">Real Estate</p>
                            <p class="text-gray-300">Demo</p>
                            <p class="text-gray-300">Plan</p>
                            <p class="text-gray-300">Product</p>
                            <p class="text-gray-300">Study</p>
                        </div>
                    </div>
                    <!-- Second sub-column -->
                    <div class="col-span-1 md:col-span-1">
                        <div class="">
                            <p class="text-gray-200 font-bold pb-5">Learn</p>
                            <p class="text-gray-300">Blogs</p>
                            <p class="text-gray-300">News</p>
                            <p class="text-gray-300">Press Release</p>
                        </div>
                    </div>
                    <!-- Third sub-column -->
                    <div class="col-span-1 md:col-span-1">
                        <div class="">
                            <p class="text-gray-200 font-bold pb-5">Company</p>
                            <p class="text-gray-300">About</p>
                            <p class="text-gray-300">Why Us?</p>
                            <p class="text-gray-300">Our Partners</p>
                            <p class="text-gray-300">Vision & Mission</p>
                            <p class="text-gray-300">Meet the Team</p>
                            <p class="text-gray-300">Career</p>
                            <p class="text-gray-300">Legal</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 md:mx-32 mx-12">
            <img class="lg:w-28 w-20" src="/resource/icons/Narsun-logo.svg">
            <div>
                <div class="text-gray-300  lg:text-6xl md:text-4xl text-xl text-end">Get In Touch&#8599</div>
                <div class="text-white lg:text-lg md:text-base text-sm text-end">info@narsunstudio.comp</div>
            </div>

        </div>
        <div class="grid lg:grid-cols-2 md:mx-32 mx-12 py-20">
            <div class="text-white pt-3">2023 Narsun Studio. All Rights Recived</div>
            <div class="flex flex-row justify-end">
                <button class="hover:opacity-70 active:opacity-50">
                    <img class="w-8 mx-2" src="/resource/icons/linked.png">
                </button>
                <button class="hover:opacity-70 active:opacity-50">
                    <img class="w-7 pb-1 mx-2" src="/resource/icons/facebook.png">
                </button>
                <button class="hover:opacity-70 active:opacity-50">
                    <img class="w-8 mx-2" src="/resource/icons/instagram.png">
                </button>
                <button class="hover:opacity-70 active:opacity-50">
                    <img class="w-8 mx-2" src="/resource/icons/x.jpg">
                </button>
            </div>
        </div>
    </div>


</body>

</html>